body{
	max-width: 100%;
	overflow-x: hidden;
}

*{
	left:0;
	display:block;
}

#best{
	position: relative;
	display: block;
	width: 150%;
	left:-25%;
	padding: 2px;
	margin: 0 auto;
}

#logo{
	width:30%;
	height:40px;
	float:left;
}

#page{
	width:30%;
	height:30px;
	float:right;
	margin-top:-14px;
}

#btnContainer{
	float:right;
	width:30%;
}

#top{
	margin:3%;
}
h1{
	font-size:1.5em;
}
