body{
	max-width: 100%;
	overflow-x: hidden;
}
*{
	left:0;
	display:block;
}
#best{
	position: relative;
	display: block;
	width: 150%;
	left:-25%;
	padding: 2px;
	margin: 0 auto;
}
#logo{
	width:40%;
	float:left;
}
#page{
	width:50%;
	float:right;
}
